<!-- HTML -->
<div class="calculator-grid">
    <button type="button" class="btn light-grey" (click)="clear()">AC</button>
    <button type="button" class="btn light-grey span-2 git-btn" onClick="window.open('https://github.com/bobby-cmyk/day33_calculator');">GitHub Repo</button>
    <button type="button" class="btn orange" (click)="insertInput('ops', '/')">÷</button>
    
    <button type="button" class="btn dark-grey" (click)="insertInput('number', '7')">7</button>
    <button type="button" class="btn dark-grey" (click)="insertInput('number', '8')">8</button>
    <button type="button" class="btn dark-grey" (click)="insertInput('number', '9')">9</button>
    <button type="button" class="btn orange" (click)="insertInput('ops', '*')">×</button>
    
    <button type="button" class="btn dark-grey" (click)="insertInput('number', '4')">4</button>
    <button type="button" class="btn dark-grey" (click)="insertInput('number', '5')">5</button>
    <button type="button" class="btn dark-grey" (click)="insertInput('number', '6')">6</button>
    <button type="button" class="btn orange" (click)="insertInput('ops', '-')">−</button>
    
    <button type="button" class="btn dark-grey" (click)="insertInput('number', '1')">1</button>
    <button type="button" class="btn dark-grey" (click)="insertInput('number', '2')">2</button>
    <button type="button" class="btn dark-grey" (click)="insertInput('number', '3')">3</button>
    <button type="button" class="btn orange" (click)="insertInput('ops', '+')">+</button>

    <button type="button" class="btn dark-grey span-2" (click)="insertInput('number', '0')">0</button>
    <button type="button" class="btn dark-grey" (click)="insertInput('decimal', '.')">.</button>
    <button type="button" class="btn orange" (click)="evaluateEqn()">=</button>
  </div>
  